/* -------------------------------------
 * For horizontal version, set the
 * $vertical variable to false
 * ------------------------------------- */
/* -------------------------------------
 * General Style
 * ------------------------------------- */
 @import url(https://fonts.googleapis.com/css?family=Noto+Sans);
 .body {
   margin: 0;
   padding: 52px 1%;
   font-size: 100%;
   font-family: "Noto Sans", sans-serif;
   color: #eee9dc;
   background: #e3e8f2;
 }
 .box-progress{
  background: #f8f9fa;
  margin-bottom: 30px;
  border-radius: 24px;
  overflow-x: scroll;
  border-top: 6px solid #1d70b7;
  border-left: 6px solid #1d70b7;
 }
 .diploma-color{color:#1d70b7;}
 
 h2 {
   margin: 3em 0 0 0;
   font-size: 1.5em;
   letter-spacing: 2px;
   text-transform: uppercase;
 }
 .p-t-60{padding-top: 60px;}
 .f-l{float: left;}
 .text-custom{color: #1D70B7;}
 .p-r-20{padding-right:20px ;}
 
 /* -------------------------------------
  * timeline
  * ------------------------------------- */
 #timelinee {
   list-style: none;
   margin: 57px 17px 0;
   padding: 0;
   border-top: 8px solid #1D70B7;;
   display: table;
   border-spacing: 30px 0;
 }
 #timelinee li {
   display: table-cell;
 }
 #timelinee li .relativee {
   position: relative;
 }
 #timelinee p {
   margin: 0 0 15px;
 }
 
 .datee {
   text-align: center;
   top: -55px;
   left: 0;
   right: 0;
   font-size: 0.95em;
   line-height: 20px;
   position: absolute;
   color: #1d70b7;
 }
 .style-div{
    width: 101px;
    height: 28px;
    background-color: #1db797;
    margin-top: 25px;
    font-size: 13px;
    text-align: center;
    border-radius: 20px;
}
 .style-div1{
    width: 101px;
    height: 28px;
    background-color: #ffc107;
    margin-top: 25px;
    font-size: 13px;
    text-align: center;
    border-radius: 20px;
    float: left;
}
 .circlee {
   margin: 0 auto;
   top: -14px;
   left: 0;
   right: 0;
   width: 25px;
   height: 25px;
   background: #1D70B7;
   border: 5px solid #eee9dc;
   border-radius: 50%;
   display: block;
   position: absolute;
 }
 .m-t-26{margin-top: 26px;}
 .f-r{float: right;}
 .p-t-23{margin-top: 23px;}
 .contentss {
  width: 300px;
   /* max-height: 0; */
    height: 115px;
   margin-top: 40px;
   vertical-align: top;
   padding: 50px 15px 33px;
   transition: width 0.4s linear, max-height 0.4s linear;
   border-width: 2px;
   border-style: solid;
   border-radius: 0.5em;
   position: relative;
   background-color: #e9ecef;
 }
 .contentss:before, .contentss:after {
   content: "";
   width: 0;
   height: 0;
   border: solid transparent;
   position: absolute;
   pointer-events: none;
   bottom: 100%;
 }
 .contentss:before {
   border-bottom-color: inherit;
   border-width: 15px;
   left: 50%;
   margin-left: -15px;
 }
 .contentss:after {
   border-bottom-color: #1D70B7;
   border-width: 12px;
   left: 50%;
   margin-left: -12px;
 }
 .contentss p {
   max-height: 0;
   color: transparent;
   text-align: justify;
   word-break: break-word;
   hyphens: auto;
   overflow: hidden;
 }
 
 label{
   font-size: 1.3em;
   position: absolute;
   z-index: 1;
   cursor: pointer;
   width: 200px;
   white-space: nowrap;
   /* text-overflow: ellipsis; */
   /* overflow: hidden; */
   display: block;
   top: 60px;
   left: 64px;
 }
 
 @media (min-width: 320px) and (max-width: 420px) {
  label{
    font-size: 13px;
    left: 48px;
  }
  .contentss {
    width: 237px;
  }
  .style-div {
    width: 93px;
    font-size: 12px;
}
  .style-div1{
    width: 93px;
    font-size: 12px;
}
h3{
  font-size: 18px;
}
.notification-drop .item ul {
  right: -96px;
  margin-left: 80px;
}
}
@media (min-width: 421px) and (max-width: 480px) {
  label{
    font-size: 17px;
    left: 103px;
  }
}
 
 